@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-karantina: "Karantina", system-ui;
  --color-susyblue: #5394BC;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  /* min-width: 300px;
  max-width: 580px; */
  background-color: rgb(240, 240, 240);
}

.mobile-links {
  display: block;
}

@media screen and (min-width: 600px) {
  
  body {
    margin: auto;
  }
}