@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-karantina: "Karantina", system-ui;
  --color-susyblue: #4591BF;
  --color-susybuttonhover: #377093;
  --color-susygray: #8F8F8F;
  --color-susylightgray: #F5F5F5;
  --color-susyborder : #F0F0F0;
  --color-susytext: #6C6C6C;
}

.karantina-light {
  font-family: "Karantina", system-ui;
  font-weight: 300;
  font-style: normal;
}

.karantina-regular {
  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
}

.karantina-bold {
  font-family: "Karantina", system-ui;
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 300px;
  max-width: 580px;
}

@media screen and (min-width: 600px) {
  
  body {
    margin: auto;
  }
}